*{
    margin: 0;
    list-style: none;
    font-size: 30px;
    font-family: "Lato";
    color: rgb(58, 58, 58);
    user-select: none;

}

body{
    background-image: url("./img/background.jpg");
    background-attachment: fixed;
    background-repeat:round;
    background-color: aliceblue;
    background-blend-mode: multiply;
    padding: 32px;
}

.main{
    display: grid;
    justify-content: center;
    background-color: #f9ffff;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr;
    border-radius: 16px;
    box-shadow: 0 10px 10px -5px #cccccc5e;
    padding: 32px;
    width: 100%;
    height: 90vh;
}


div.sidebar{
    grid-column: 1 / 2;
    grid-row: 0/ 1;
    padding: 32px;
    display: flex;
    flex-direction: column;
    border-right: 1px solid #4c596346;
    
}

input#search{
    width: auto;
    height: 50px;
    background-color: rgba(215, 243, 250, 0.425);
    border-radius: 16px;
    margin-bottom: 16px;
    border: none;
}

input#search:hover{
    background-color: rgb(124, 140, 145);
}

input#search:focus{
    border: none;
    background-color: rgb(124, 140, 145);
    font-size: 40px;

}

div.sidebar>ul{
    padding: 16px;
    
}

ul.menu>li{
    display: flex;
    gap: 16px;
}

ul.menu>li:hover{
    text-shadow: 2px 2px 5px #ccc;
    cursor: pointer;
}

ul.menu{
    margin-bottom: 32px;
}

ul.menu>li>div{
    font-size: 30px;
    font-weight: 400;
    margin: 8px;
}

div.content{
    grid-column: 2/3;
    padding: 32px;
}

div.title{
    font-weight: 600;
    font-size: 60px;
}

.icon{
    width: 1rem;
    height: 1rem;
}

a{
    font-size: small;
}


ul.projectlist>li{
    list-style-type: circle;
}

ul.projectlist>li.project>*{
    font-size: 30px;
    
}

li.project>ul>li{
    list-style-type: "#";
    font-size: 25px;
}

li.project:hover{
    text-shadow: 2px 2px 5px #ccc;
    cursor: pointer;
}

div.content{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 70px min-content;
    grid-auto-rows: min-content;
    gap: 16px;
    overflow: scroll;

}

div.card{
    background-color: rgba(188, 230, 247, 0.349);
    display: flex;
    flex-direction: column;
    padding: 32px;
    border-radius: 16px;
}

div.card>form{
    display: flex;
    flex-direction: row;
    padding: 32px;
    border-radius: 16px;
    justify-content: center;
    background-color: #ccc;
    gap: 32px;
}

div.card>form>*{
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

div.card:hover{
    background-color: rgba(116, 145, 156, 0.349);
}

div.card>div.projecttitle{
    font-weight: 700;

}

div.projectdescription{
    font-weight: 300;
    padding-left: 16px;
}


button.card{
    background-color: rgba(236, 246, 250, 0.699);
    border: none;
    width: 200px;
    justify-content: center;
    align-items: center;

}

button.card:hover{
    background-color: rgba(156, 159, 160, 0.699);
    cursor: pointer;
}

div.tasks{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 16px;
}

label.task>span{
    font-size: 30px;
}

input[type="checkbox"]{
    transform: scale(2.5);
    position: static;
    display: inline;
    margin-right: 16px;
    margin-bottom: 32px;
    
}

div.content>div.title{
    font-weight: 600;
    margin-bottom: 32px;
}

form>label>input{
    width: 300px;
}

form{
    display: flex;
    flex-direction: row;
}

button.save{
    justify-self: center;
    align-self: center;
    flex: 0 1;
}